@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

.title {
    font-family: "Fredoka", serif;
    padding: 4rem;
    text-align: center;
    align-items: center;
    color: #e53170;
}
.align{
    padding: ;
    text-align: center;
    font-family: "Fredoka", serif;
}

.stile{
        text-align: center;
        font-family: "Fredoka", serif;
}